---
title: Pokemons list
tags: primary
layout: base
date: 2023-08-03
---
<ul>
 {%- for species in pokemon %}
 <li><a href="{{ species.name | slugify }}">{{ species.name }}</a></li>
 {% endfor -%}
</ul>